Repository newrelic/helm-charts, pull requests merged in 2022-08, with the labels that each got.

#901 [newrelic-pixie] Update version to 2.0.1
  charts/newrelic-pixie/Chart.yaml
Labels: team/pixie

#888 [newrelic-logging] Add global service account
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/clusterrolebinding.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/templates/serviceaccount.yaml
  charts/newrelic-logging/tests/rbac_test.yaml
  charts/newrelic-logging/values.yaml
Labels: team/logging

#617 [newrelic-logging] allow metadata env vars
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Labels: kind/feature, triage/pending, team/logging
