Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/coreint, @douglascamata, @jsubirat, @matildasmeds, @tejunior, @newrelic/proactive-monitoring, @newrelic/caos

CODEOWNERS:

# Global owners
* @newrelic/coreint 

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Simple nginx chart for testing purposes
/charts/simple-nginx/ @douglascamata

# Logging chart
/charts/newrelic-logging/ @jsubirat @matildasmeds @tejunior

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring

/charts/nri-statsd/ @newrelic/caos

Remove attribute renaming
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
Owners: @newrelic/coreint

[charts/synthetics-minion] Automatically bumped chartVersion to 1.0.38 and appVersion to 3.0.50
  charts/synthetics-minion/Chart.yaml
Owners: @newrelic/proactive-monitoring

Update Chart.yaml
  charts/synthetics-minion/Chart.yaml
Owners: @newrelic/proactive-monitoring

[synthetics-minion] Disabling the SA token for v1.21.x compatibility
  charts/synthetics-minion/Chart.yaml
  charts/synthetics-minion/templates/serviceaccount.yaml
Owners: @newrelic/proactive-monitoring

Update serviceaccount.yaml
  charts/synthetics-minion/templates/serviceaccount.yaml
Owners: @newrelic/proactive-monitoring

Use short source in low data mode. Add low data mode to Windows DaemonSet
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[newrelic-pixie] Introducing low data mode & bump to v1.4.0 (#517)
  charts/newrelic-pixie/Chart.yaml
  charts/newrelic-pixie/README.md
  charts/newrelic-pixie/templates/_helpers.tpl
  charts/newrelic-pixie/templates/deployment.yaml
  charts/newrelic-pixie/values.yaml
Owners: @newrelic/coreint

[newrelic-pixie] Introducing low data mode & bump to v1.4.0 (#517)
  charts/newrelic-pixie/Chart.yaml
  charts/newrelic-pixie/README.md
  charts/newrelic-pixie/templates/_helpers.tpl
  charts/newrelic-pixie/templates/deployment.yaml
  charts/newrelic-pixie/values.yaml
Owners: @newrelic/coreint

fix(prometheus): allow modify most configs in lowDataMode
  charts/nri-prometheus/README.md
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
  charts/nri-prometheus/templates/configmap.yaml
Owners: @newrelic/coreint

fix(prometheus): improving comments and syntax
  charts/nri-prometheus/README.md
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
  charts/nri-prometheus/templates/configmap.yaml
  charts/nri-prometheus/values.yaml
Owners: @newrelic/coreint

[nri-prometheus] Introducing low data mode (#518)
  charts/nri-prometheus/Chart.yaml
  charts/nri-prometheus/README.md
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
  charts/nri-prometheus/templates/_helpers.tpl
  charts/nri-prometheus/templates/configmap.yaml
  charts/nri-prometheus/values.yaml
Owners: @newrelic/coreint

[nri-prometheus] Introducing low data mode (#518)
  charts/nri-prometheus/Chart.yaml
  charts/nri-prometheus/README.md
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
  charts/nri-prometheus/templates/_helpers.tpl
  charts/nri-prometheus/templates/configmap.yaml
  charts/nri-prometheus/values.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

Small tweaks from review
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Updated Readme due to typo
  charts/newrelic-logging/README.md
Owners: @jsubirat, @matildasmeds, @tejunior

[newrelic-logging] Introducing low data mode (#516)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[newrelic-logging] Introducing low data mode (#516)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

[nri-bundle] Introducing low data mode. Bumping logging, prometheus, Pixie integration and Pixie to the latest version.
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.10.tgz
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.9.tgz
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

[nri-bundle] Introducing low data mode. Bumping logging, prometheus, Pixie integration and Pixie to the latest version. (#522)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.10.tgz
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.9.tgz
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

[nri-bundle] Introducing low data mode. Bumping logging, prometheus, Pixie integration and Pixie to the latest version. (#522)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.10.tgz
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.9.tgz
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

add pull secrets to admissions patch job. fix docs
  charts/newrelic-infra-operator/Chart.yaml
  charts/newrelic-infra-operator/README.md
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/newrelic-infra-operator/values.yaml
Owners: @newrelic/coreint

add pull secret for the create job also
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-createSecret.yaml
Owners: @newrelic/coreint

newrelic-logging: mount host's /var as read only
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

newrelic-logging: mount host's /var as read only (#472)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

newrelic-logging: mount host's /var as read only (#472)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

nri-bundle: update newrelic-logging to its latest version
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

[charts/newrelic-infrastructure] Automatically bumped chartVersion to 2.6.5 and appVersion to 2.8.1
  charts/newrelic-infrastructure/Chart.yaml
Owners: @newrelic/coreint

[newrelic-infra-operator] add pull secrets to admissions patch job. fix docs (#524)
  charts/newrelic-infra-operator/Chart.yaml
  charts/newrelic-infra-operator/README.md
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/newrelic-infra-operator/values.yaml
Owners: @newrelic/coreint

[newrelic-infra-operator] add pull secrets to admissions patch job. fix docs (#524)
  charts/newrelic-infra-operator/Chart.yaml
  charts/newrelic-infra-operator/README.md
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/newrelic-infra-operator/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/newrelic-infra-operator/values.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

add pull secrets to metadata injection jobs. fix readme
  charts/nri-metadata-injection/Chart.yaml
  charts/nri-metadata-injection/README.md
  charts/nri-metadata-injection/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/nri-metadata-injection/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/nri-metadata-injection/values.yaml
  test.yaml
Owners: @newrelic/coreint

remove test file
  test.yaml
Owners: @newrelic/coreint

bump subchart versions
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

Revert "newrelic-logging: mount host's /var as read only (#472)"
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

nri-logging: bump version
  charts/newrelic-logging/Chart.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Revert "newrelic-logging: mount host's /var as read only (#472)" (#532)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Revert "newrelic-logging: mount host's /var as read only (#472)" (#532)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior
