Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/coreint, @douglascamata, @jsubirat, @matildasmeds, @tejunior, @newrelic/proactive-monitoring, @newrelic/caos

CODEOWNERS:

# Global owners
* @newrelic/coreint 

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Simple nginx chart for testing purposes
/charts/simple-nginx/ @douglascamata

# Logging chart
/charts/newrelic-logging/ @jsubirat @matildasmeds @tejunior

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring

/charts/nri-statsd/ @newrelic/caos

Move original daemonset.yml by andrew-lozoya into the newrelic-logging Helm chart directory
  charts/newrelic-logging/templates/daemonset-windows.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[charts/synthetics-minion] Automatically bumped chartVersion to 1.0.38 and appVersion to 3.0.49
  charts/synthetics-minion/Chart.yaml
Owners: @newrelic/proactive-monitoring

Adapt DaemonSet from @andrew-lozoya to support Windows for Logs. Adapted it to fit it into a single Helm chart (newrelic-logging). Also adapted rest of files accordingly
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Removes newrelic-windows-logging, as it is now part of newrelic-logging
  charts/newrelic-windows-logging/Chart.yaml
  charts/newrelic-windows-logging/README.md
  charts/newrelic-windows-logging/templates/NOTES.txt
  charts/newrelic-windows-logging/templates/_helpers.tpl
  charts/newrelic-windows-logging/templates/clusterrole.yaml
  charts/newrelic-windows-logging/templates/clusterrolebinding.yaml
  charts/newrelic-windows-logging/templates/configmap.yaml
  charts/newrelic-windows-logging/templates/secret.yaml
  charts/newrelic-windows-logging/templates/serviceaccount.yaml
  charts/newrelic-windows-logging/values.yaml
Owners: @newrelic/coreint

Addresses comments from danybmx code review
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Update README.md
  charts/newrelic-logging/README.md
Owners: @jsubirat, @matildasmeds, @tejunior

newrelic-infrastructure: fix use of updateStrategy in daemonset-windows template
  charts/newrelic-infrastructure/Chart.yaml
  charts/newrelic-infrastructure/templates/daemonset-windows.yaml
Owners: @newrelic/coreint

Updated note
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Fix nodeSelectors
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

newrelic-infrastructure: fix use of updateStrategy in daemonset-windows template (#510)
  charts/newrelic-infrastructure/Chart.yaml
  charts/newrelic-infrastructure/templates/daemonset-windows.yaml
Owners: @newrelic/coreint

newrelic-infrastructure: fix use of updateStrategy in daemonset-windows template (#510)
  charts/newrelic-infrastructure/Chart.yaml
  charts/newrelic-infrastructure/templates/daemonset-windows.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

[charts/newrelic-infrastructure] Automatically bumped chartVersion to 2.6.4 and appVersion to 2.7.1
  charts/newrelic-infrastructure/Chart.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

bump nri-bundle infra dependency
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

bump nri-bundle infra dependency (#513)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

bump nri-bundle infra dependency (#513)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

[charts/nri-bundle] Update pixie operator to latest version
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.10.tgz
  charts/nri-bundle/charts/pixie-operator-helm2-chart-0.0.9.tgz
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

[charts/nri-metadata-injection] Remove conditionals for older K8s versions
  charts/nri-metadata-injection/templates/admission-webhooks/job-patch/clusterrole.yaml
  charts/nri-metadata-injection/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
Owners: @newrelic/coreint

[charts/nri-prometheus] Update to version with Kubernetes v1.22 support
  charts/nri-prometheus/Chart.yaml
Owners: @newrelic/coreint

[charts/newrelic-infrastructure] Update to latest version
  charts/newrelic-infrastructure/Chart.yaml
Owners: @newrelic/coreint

Disable host network for the Windows DaemonSet, as it has been detected not to work on AKS out-of-the-box.
  charts/newrelic-logging/templates/daemonset-windows.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[charts/nri-kube-events] Automatically bumped chartVersion to 1.9.6 and appVersion to 1.6.0
  charts/nri-kube-events/Chart.yaml
Owners: @newrelic/coreint

Make windowsNodeSelector use sane default but allow overwriting them all
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

bump chart version
  charts/synthetics-minion/Chart.yaml
Owners: @newrelic/proactive-monitoring

Only add kubernetes.io/os: linux label if we have Windows enabled
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[newrelic-logging] Introducing low data mode
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[charts/nri-metadata-injection] Update to support Kubernetes v1.22
  charts/nri-metadata-injection/Chart.yaml
  charts/nri-metadata-injection/templates/admission-webhooks/mutatingWebhookConfiguration.yaml
  charts/nri-metadata-injection/values.yaml
Owners: @newrelic/coreint

[charts/newrelic-infra-operator] Update to v0.5.0
  charts/newrelic-infra-operator/Chart.yaml
Owners: @newrelic/coreint

[charts/nri-bundle] Update to support Kubernetes v1.22
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/requirements.lock
  charts/nri-bundle/requirements.yaml
Owners: @newrelic/coreint

[charts/nri-kube-events] Update to v1.6.0
  charts/nri-kube-events/Chart.yaml
Owners: @newrelic/coreint

Adds explanatory comment
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

Remove unnecessary $
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @jsubirat, @matildasmeds, @tejunior

[newrelic-logging] Add support for Windows containers (#509)
  charts/.DS_Store
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/coreint, @jsubirat, @matildasmeds, @tejunior

[newrelic-logging] Add support for Windows containers (#509)
  charts/.DS_Store
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/configmap.yaml
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/coreint, @jsubirat, @matildasmeds, @tejunior

Update index.yaml
  index.yaml
Owners: @newrelic/coreint

[newrelic-pixie] Introducing low data mode & bump to v1.4.0
  charts/newrelic-pixie/Chart.yaml
  charts/newrelic-pixie/README.md
  charts/newrelic-pixie/templates/_helpers.tpl
  charts/newrelic-pixie/templates/deployment.yaml
  charts/newrelic-pixie/values.yaml
Owners: @newrelic/coreint

Update maintainers.
  charts/newrelic-pixie/Chart.yaml
Owners: @newrelic/coreint

[nri-prometheus] Introducing low data mode
  charts/nri-prometheus/README.md
  charts/nri-prometheus/static/lowdatamodedefaults.yaml
  charts/nri-prometheus/templates/_helpers.tpl
  charts/nri-prometheus/templates/configmap.yaml
  charts/nri-prometheus/values.yaml
Owners: @newrelic/coreint
