Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/pmon, @newrelic/ohai, @newrelic/ac, @newrelic/pcon

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging

# synthetics-minion
/charts/synthetics-minion/ @newrelic/pmon

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/pmon

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/ohai
/charts/super-agent-deployment/ @newrelic/ac @newrelic/ohai
/charts/super-agent/ @newrelic/ac @newrelic/ohai
/charts/agent-control/ @newrelic/ac @newrelic/ohai

# pipeline-control-gateway
/charts/pipeline-control-gateway/ @newrelic/pcon

fixing helm add + only run on otel changes.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

version bump
  charts/nr-k8s-otel-collector/Chart.yaml
Owners: @newrelic/k8s-agents

Update .github/workflows/run-makefile.yaml
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] Fix Otel Render Workflow (#1690)
  .github/workflows/run-makefile.yaml
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] Fix Otel Render Workflow (#1690)
  .github/workflows/run-makefile.yaml
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

feat: add memory_limiter to all pipelines
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] feat: add memory_limiter to all pipelines (#1691)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] feat: add memory_limiter to all pipelines (#1691)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] feat: Enable feature gate for in kubeletstats + 1.0.3 Collector (#1673)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Resolve conflicts
  charts/synthetics-job-manager/Chart.yaml
  charts/synthetics-job-manager/charts/node-api-runtime/Chart.yaml
  charts/synthetics-job-manager/charts/node-browser-runtime/Chart.yaml
Owners: @newrelic/pmon

[nr-ebpf-agent] Bump eAPM agent version (#1680)
  charts/nr-ebpf-agent/Chart.yaml
  charts/nr-ebpf-agent/README.md
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

[nr-k8s-otel-collector] OTEL improvements (#1649)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/collector.md
  charts/nr-k8s-otel-collector/docs/metrics-full.md
  charts/nr-k8s-otel-collector/docs/metrics-lowDataMode.md
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Generate rendered examples for k8s deployments of nr-k8s-otel-collector (#1651)
  .github/workflows/run-makefile.yaml
  Makefile
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/Makefile
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/role.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/values.yaml
Owners: @newrelic/k8s-agents

[agent-control] chore(deps): update image to latest 0.36.1 (#1688)
  charts/agent-control/Chart.yaml
  charts/agent-control/values.yaml
Owners: @newrelic/ac, @newrelic/ohai

[nr-k8s-otel-collector] feat: add memory_limiter to all pipelines (#1691)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] Fix Otel Render Workflow (#1690)
  .github/workflows/run-makefile.yaml
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
Owners: @newrelic/k8s-agents

Resolve conflicts
  charts/synthetics-job-manager/Chart.yaml
Owners: @newrelic/pmon
