Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/pmon, @newrelic/ohai, @newrelic/ac, @newrelic/pcon

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging

# synthetics-minion
/charts/synthetics-minion/ @newrelic/pmon

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/pmon

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/ohai

# Agent Control charts
/charts/agent-control-deployment/ @newrelic/ac
/charts/agent-control/ @newrelic/ac

# pipeline-control-gateway
/charts/pipeline-control-gateway/ @newrelic/pcon

[nr-k8s-otel-collector] proxy support. (#1698)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment.yaml
  charts/nr-k8s-otel-collector/tests/env_vars_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] proxy support. (#1698)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment.yaml
  charts/nr-k8s-otel-collector/tests/env_vars_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Add custom config support for deployments
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

add connector for daemonset
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Make daemonset config customizable
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

fix spacing
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Bring back default setting for ldm and spacing
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Remove receivers config and other templating logic
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

handle gke autopilot for file log receiver
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Bump chart version
  charts/nr-k8s-otel-collector/Chart.yaml
Owners: @newrelic/k8s-agents

fix spacing
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

handle line breaks
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

move condition to one line
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

move to one line
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

remove configmap tests and var from values
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

fix tests
  charts/nr-k8s-otel-collector/tests/env_vars_test.yaml
Owners: @newrelic/k8s-agents

clean TODO
  charts/agent-control/README.md
  charts/agent-control/README.md.gotmpl
  charts/agent-control/values.yaml
Owners: @newrelic/ac

Revert "[nr-k8s-otel-collector] OTEL improvements (#1649)"
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/collector.md
  charts/nr-k8s-otel-collector/docs/metrics-full.md
  charts/nr-k8s-otel-collector/docs/metrics-lowDataMode.md
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

drop unused ldm metrics
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

drop metrics and attirbuts from the otel improvments PR
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

drop attributes from more improvements PR
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

add changes for scrape interval
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

drop metrics and attirbuts from the otel improvments PR
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

drop attributes from more improvements PR
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

add changes for scrape interval
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

add groupby logic from more improvements PR
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Move debug attributes to cluster info metric
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[agent-control] refactor: use extracted chart (#1697)
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
  charts/agent-control/README.md
  charts/agent-control/README.md.gotmpl
  charts/agent-control/charts/agent-control-deployment/.helmignore
  charts/agent-control/charts/agent-control-deployment/Chart.yaml
  charts/agent-control/charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control/charts/agent-control-deployment/templates/configmap-agentcontrol-config.yaml
  charts/agent-control/charts/agent-control-deployment/templates/configmap-subagent-configs.yaml
  charts/agent-control/charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
  charts/agent-control/charts/agent-control-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/agent-control/charts/agent-control-deployment/templates/rbac.yaml
  charts/agent-control/charts/agent-control-deployment/templates/secret-sa-auth.yaml
  charts/agent-control/charts/agent-control-deployment/templates/secret.yaml
  charts/agent-control/charts/agent-control-deployment/templates/serviceaccount.yaml
  charts/agent-control/charts/agent-control-deployment/templates/uninstall-job.yaml
  charts/agent-control/charts/agent-control-deployment/tests/__snapshot__/.gitignore
  charts/agent-control/charts/agent-control-deployment/tests/auth_secret_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/configmap_agentcontrol_config_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/configmap_fleet_configs_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_env_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_securityContext_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_subagent_configs_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/licenseKey_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/preinstall_job_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/rbac_test.yaml
  charts/agent-control/tests/placeholder
  charts/agent-control/values.yaml
Owners: @newrelic/ac

[agent-control] refactor: use extracted chart (#1697)
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
  charts/agent-control/README.md
  charts/agent-control/README.md.gotmpl
  charts/agent-control/charts/agent-control-deployment/.helmignore
  charts/agent-control/charts/agent-control-deployment/Chart.yaml
  charts/agent-control/charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control/charts/agent-control-deployment/templates/configmap-agentcontrol-config.yaml
  charts/agent-control/charts/agent-control-deployment/templates/configmap-subagent-configs.yaml
  charts/agent-control/charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
  charts/agent-control/charts/agent-control-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/agent-control/charts/agent-control-deployment/templates/rbac.yaml
  charts/agent-control/charts/agent-control-deployment/templates/secret-sa-auth.yaml
  charts/agent-control/charts/agent-control-deployment/templates/secret.yaml
  charts/agent-control/charts/agent-control-deployment/templates/serviceaccount.yaml
  charts/agent-control/charts/agent-control-deployment/templates/uninstall-job.yaml
  charts/agent-control/charts/agent-control-deployment/tests/__snapshot__/.gitignore
  charts/agent-control/charts/agent-control-deployment/tests/auth_secret_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/configmap_agentcontrol_config_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/configmap_fleet_configs_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_env_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_securityContext_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/deployment_agentcontrol_subagent_configs_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/licenseKey_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/preinstall_job_test.yaml
  charts/agent-control/charts/agent-control-deployment/tests/rbac_test.yaml
  charts/agent-control/tests/placeholder
  charts/agent-control/values.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Bump fb version to 3.2.10
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/tests/images_test.yaml
Owners: @newrelic/logging

use nrdot
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

add defaults
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

add guards
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

fix guard
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

fix guard
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

add guards
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

fix guard for pipelines
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

fix guard for daemonset receiver
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents
