Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/pmon, @newrelic/ohai, @newrelic/ac, @newrelic/pcon

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging

# synthetics-minion
/charts/synthetics-minion/ @newrelic/pmon

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/pmon

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/ohai

# Agent Control charts
/charts/agent-control-deployment/ @newrelic/ac
/charts/agent-control/ @newrelic/ac

# pipeline-control-gateway
/charts/pipeline-control-gateway/ @newrelic/pcon

one last time....
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

one last time.... again
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

one last time.... again again
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

one last time.... again again again
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

Just use push
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

update protocols env variables value
  charts/nr-ebpf-agent/templates/_helpers.tpl
Owners: @newrelic/ebpf

feat: removed readiness probes
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @newrelic/logging

feat: Updated chart version
  charts/newrelic-logging/Chart.yaml
Owners: @newrelic/logging

Drop container metrics with a missing id or name + port over attribute improvements from other PR
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[agent-control-deployment] secret ownership (#1715)
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/agent-control-deployment/templates/uninstall-job.yaml
Owners: @newrelic/ac

[agent-control-deployment] secret ownership (#1715)
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/agent-control-deployment/templates/uninstall-job.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] Rendered examples instructions + updates. (#1709)
  .github/workflows/run-makefile.yaml
  Makefile
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/values.yaml
  charts/nr-k8s-otel-collector/templates/service.yaml
Owners: @newrelic/k8s-agents

[nr-k8s-otel-collector] Rendered examples instructions + updates. (#1709)
  .github/workflows/run-makefile.yaml
  Makefile
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/values.yaml
  charts/nr-k8s-otel-collector/templates/service.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Update deployment-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

fix test
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
Owners: @newrelic/k8s-agents

add checks for defaults
  charts/nr-k8s-otel-collector/templates/_config_map.tpl
Owners: @newrelic/k8s-agents

add test, bump chart, handle missing helper
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
Owners: @newrelic/k8s-agents

bump chart, rename vars, readme
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/templates/_config_map.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

add support for extra configs
  charts/nr-k8s-otel-collector/templates/_config_map.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

feat: installation job
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/_helpers.tpl
  charts/agent-control/templates/ac-deployment-secret.yaml
  charts/agent-control/templates/install.yaml
  charts/agent-control/templates/rbac.yaml
  charts/agent-control/templates/service-account.yaml
Owners: @newrelic/ac

feat: Udated to values
  charts/newrelic-logging/newrelic-logging-1.28.0.tgz
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

feat(agent-control-deploymet): setup liveness/stattup probes
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/README.md
  charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
  charts/agent-control-deployment/tests/configmap_agentcontrol_config_test.yaml
  charts/agent-control-deployment/values.yaml
Owners: @newrelic/ac

fix: secret name in template
  charts/agent-control/templates/ac-deployment-secret.yaml
Owners: @newrelic/ac

feat: add delete hooks
  charts/agent-control/templates/install.yaml
  charts/agent-control/templates/rbac.yaml
  charts/agent-control/templates/service-account.yaml
Owners: @newrelic/ac

chore: remove useless helper
  charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
Owners: @newrelic/ac

refactor: reuse name
  charts/agent-control/templates/_helpers.tpl
Owners: @newrelic/ac

Update deployment-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

[agent-control-deployment] feat: setup liveness/readiness probes (#1723)
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/README.md
  charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
  charts/agent-control-deployment/tests/configmap_agentcontrol_config_test.yaml
  charts/agent-control-deployment/values.yaml
Owners: @newrelic/ac

[agent-control-deployment] feat: setup liveness/readiness probes (#1723)
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/README.md
  charts/agent-control-deployment/templates/_helpers.tpl
  charts/agent-control-deployment/templates/deployment-agentcontrol.yaml
  charts/agent-control-deployment/tests/configmap_agentcontrol_config_test.yaml
  charts/agent-control-deployment/values.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents
