Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/k8s011y, @newrelic/logging, @newrelic/proactive-monitoring, @newrelic/caos, @newrelic/coreint

address pr suggestions
  charts/super-agent/README.md
  charts/super-agent/README.md.gotmpl
Owners: @newrelic/coreint

disabled flux's kustomize controller
  charts/super-agent/README.md
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

remove all trailing space
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

remove CRDs from SA release
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

spell check
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

apply suggestions from the review downstream
  charts/super-agent/README.md
  charts/super-agent/README.md.gotmpl
  charts/super-agent/ci/test-values.yaml
  charts/super-agent/templates/_helpers.tpl
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

improve documentation
  charts/super-agent/README.md
  charts/super-agent/README.md.gotmpl
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

use legacy helm repo instaead of oci registry
  .github/ct-install.yaml
  .github/ct-lint.yaml
  charts/super-agent/Chart.lock
  charts/super-agent/Chart.yaml
Owners: @newrelic/k8s-agents, @newrelic/coreint

fix tests
  charts/super-agent/tests/helm_release_install_test.yaml
Owners: @newrelic/coreint

add maintainers
  charts/super-agent/Chart.yaml
Owners: @newrelic/coreint

add hooks to the helm release
  charts/super-agent/templates/helm-release.yaml
  charts/super-agent/templates/helm-repository.yaml
Owners: @newrelic/coreint

install releases as a job
  charts/super-agent/templates/_helm-release.yaml
  charts/super-agent/templates/_helm-repository.yaml
  charts/super-agent/templates/install-job.yaml
  charts/super-agent/templates/uninstall-job.yaml
Owners: @newrelic/coreint

remove unit tests
  charts/super-agent/tests/__snapshot__/.gitignore
  charts/super-agent/tests/helm_release_install_test.yaml
  charts/super-agent/tests/helm_release_values_test.yaml
  charts/super-agent/tests/helm_repository_certsecretref_test.yaml
  charts/super-agent/tests/helm_repository_secretref_test.yaml
Owners: @newrelic/coreint

do not override the release name
  charts/super-agent/templates/_helm-release.yaml
  charts/super-agent/templates/_helm-repository.yaml
Owners: @newrelic/coreint

fix: Update docs in response to GTSE.
  charts/synthetics-job-manager/README.md
Owners: @newrelic/proactive-monitoring

fix: Table Spacing
  charts/synthetics-job-manager/README.md
Owners: @newrelic/proactive-monitoring

fix: Extra space and table spacing.
  charts/synthetics-job-manager/README.md
Owners: @newrelic/proactive-monitoring

Update the helper to use coalesce
  library/common-library/templates/_gke-autopilot.tpl
Owners: @newrelic/k8s-agents

add a ci pipeline to test renovate's configuration on PR
  .github/workflows/test-renovate-configuration.yaml
Owners: @newrelic/k8s-agents

address config migration
  .github/renovate.json5
Owners: @newrelic/k8s-agents

fix configuration
  .github/renovate.json5
Owners: @newrelic/k8s-agents

delete on the uninstall job
  charts/super-agent/templates/uninstall-job.yaml
Owners: @newrelic/coreint

change the version of kubernetes to latest supported
  .github/workflows/lint_test_charts.yaml
Owners: @newrelic/k8s-agents

remove all the extra documentation of Flux
  charts/super-agent/README.md
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

address nits
  charts/super-agent/templates/install-job.yaml
  charts/super-agent/templates/uninstall-job.yaml
Owners: @newrelic/coreint

add an explanation of helm hooks
  charts/super-agent/templates/_helm-release.yaml
  charts/super-agent/templates/_helm-repository.yaml
  charts/super-agent/templates/install-job.yaml
  charts/super-agent/templates/job-manifests.yaml
  charts/super-agent/templates/uninstall-job.yaml
Owners: @newrelic/coreint

[chore] Add a ci pipeline to test renovate's configuration on PR (#1182)
  .github/renovate.json5
  .github/workflows/test-renovate-configuration.yaml
Owners: @newrelic/k8s-agents

[chore] Add a ci pipeline to test renovate's configuration on PR (#1182)
  .github/renovate.json5
  .github/workflows/test-renovate-configuration.yaml
Owners: @newrelic/k8s-agents

fix typos
  charts/super-agent/templates/install-job.yaml
  charts/super-agent/templates/job-manifests.yaml
  charts/super-agent/templates/uninstall-job.yaml
Owners: @newrelic/coreint

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Fix quotes
  .github/workflows/post-release-nri-bundle.yml
Owners: @newrelic/k8s-agents

fix: Fix post release nri-bundle workflow (#1184)
  .github/workflows/post-release-nri-bundle.yml
Owners: @newrelic/k8s-agents

fix: Fix post release nri-bundle workflow (#1184)
  .github/workflows/post-release-nri-bundle.yml
Owners: @newrelic/k8s-agents

add an example of the values
  charts/super-agent/README.md
  charts/super-agent/values.yaml
Owners: @newrelic/coreint

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/k8s011y

# Logging chart
/charts/newrelic-logging/ @newrelic/logging 

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/proactive-monitoring

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/caos
/charts/super-agent-deployment/ @newrelic/coreint
/charts/super-agent/ @newrelic/coreint
