Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/pmon, @newrelic/ohai, @newrelic/ac, @newrelic/pcon

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Updated appVersion for sjm
  charts/synthetics-job-manager/Chart.yaml
Owners: @newrelic/pmon

Updated appVersion for sjm (#1714)
  charts/synthetics-job-manager/Chart.yaml
Owners: @newrelic/pmon

Updated appVersion for sjm (#1714)
  charts/synthetics-job-manager/Chart.yaml
Owners: @newrelic/pmon

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

feat: Updated logging chart to send metrics based on Tiering
  charts/newrelic-logging/templates/_helpers.tpl
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

update NR_OTLP_ENDPOINT to OTLP_ENDPOINT
  charts/nr-ebpf-agent/templates/otel-collector-config.yaml
  charts/nr-ebpf-agent/templates/otel-collector-daemonset.yaml
Owners: @newrelic/ebpf

Added ebpf agent log file config
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

feat: Added livenessProbe and readinessProbe
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
Owners: @newrelic/logging

update data table limit var name
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
Owners: @newrelic/ebpf

update stirling sources config
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

feat: add boolean flag to choose installation method
  charts/agent-control/Chart.yaml
  charts/agent-control/values.yaml
Owners: @newrelic/ac

feat: create ac deployment values secret
  charts/agent-control/templates/ac-deployment-secret.yaml
Owners: @newrelic/ac

feat: installation job
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

refactor: rename secret
  charts/agent-control/templates/ac-deployment-secret.yaml
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

fix: don't overwrite other release
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

refactor: simplify install job
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

fix: secret prefix
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

feat: create secret only when remote update enabled
  charts/agent-control/templates/ac-deployment-secret.yaml
Owners: @newrelic/ac

chore: add todo
  charts/agent-control/templates/install.yaml
Owners: @newrelic/ac

add default false to condition
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

remaining feedback
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

use top level checks
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

add custom config support
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment.yaml
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
  charts/nr-k8s-otel-collector/tests/env_vars_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

nil check
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

try different checks
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

add shared options for all components
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

bump chart, remove otel chain
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

add check for exporters
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
Owners: @newrelic/k8s-agents

add defaults for deployment/daemonset
  charts/nr-k8s-otel-collector/templates/_config_map.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

feat(agent-control-deployment): secret ownership
  charts/agent-control-deployment/Chart.yaml
  charts/agent-control-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/agent-control-deployment/templates/uninstall-job.yaml
Owners: @newrelic/ac

feat(agent-control-deployment): secret ownership
  charts/agent-control-deployment/templates/uninstall-job.yaml
Owners: @newrelic/ac

modify connectors for ldm support and parity
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

only run for pull requests.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

updating check-examples to set all variables generate examples does.
  Makefile
Owners: @newrelic/k8s-agents

testing if push works now.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

match / for branch ignore.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

adding main incase we migrate in the future.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

testing pull_request again... with checkout v4 though.
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

testing pull_request again... with checkout v4 again...
  .github/workflows/run-makefile.yaml
Owners: @newrelic/k8s-agents

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging

# synthetics-minion
/charts/synthetics-minion/ @newrelic/pmon

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/pmon

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/ohai

# Agent Control charts
/charts/agent-control-deployment/ @newrelic/ac
/charts/agent-control/ @newrelic/ac

# pipeline-control-gateway
/charts/pipeline-control-gateway/ @newrelic/pcon
