Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/proactive-monitoring, @newrelic/caos, @newrelic/coreint

Bump version
  charts/nr-k8s-otel-collector/Chart.yaml
Owners: @newrelic/k8s-agents

[newrelic-logging]: NR-300427: Add support to have hostNetwork property for fluentbit logging pods
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/tests/host_network_test.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

fix trailing spaces
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

Bump charts, fix typos, and create the first helper
  library/CHART-TEMPLATE/Chart.lock
  library/CHART-TEMPLATE/Chart.yaml
  library/CHART-TEMPLATE/tests/cl-staging_test.yaml
  library/common-library/Chart.yaml
  library/common-library/templates/_license.tpl
Owners: @newrelic/k8s-agents

add support for region
  library/CHART-TEMPLATE/README.md
  library/CHART-TEMPLATE/templates/example-cm-region.yaml
  library/CHART-TEMPLATE/tests/cl-region.yaml
  library/CHART-TEMPLATE/values.yaml
  library/common-library/DEVELOPERS.md
  library/common-library/templates/_region.tpl
Owners: @newrelic/k8s-agents

Add systemd identity creation and registration to the chart
  charts/super-agent/Chart.lock
  charts/super-agent/Chart.yaml
  charts/super-agent/charts/super-agent-deployment/Chart.yaml
  charts/super-agent/charts/super-agent-deployment/templates/_helpers.tpl
  charts/super-agent/charts/super-agent-deployment/templates/_temporary_helpers.tpl
  charts/super-agent/charts/super-agent-deployment/templates/configmap-subagent-configs.yaml
  charts/super-agent/charts/super-agent-deployment/templates/deployment-superagent.yaml
  charts/super-agent/charts/super-agent-deployment/templates/preinstall-job-register-system-identity.yaml
  charts/super-agent/charts/super-agent-deployment/templates/rbac.yaml
  charts/super-agent/charts/super-agent-deployment/templates/secret-sa-auth.yaml
  charts/super-agent/charts/super-agent-deployment/templates/uninstall-job.yaml
  charts/super-agent/charts/super-agent-deployment/tests/auth_secret_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/configmap_fleet_configs_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/configmap_superagent_config_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/deployment_superagent_subagent_configs_test.yaml
  charts/super-agent/values.yaml
Owners: @newrelic/coreint, @newrelic/caos

[newrelic-logging]: NR-300427: Add support to have hostNetwork property for fluentbit logging pods. (#1462)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/tests/host_network_test.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

[newrelic-logging]: NR-300427: Add support to have hostNetwork property for fluentbit logging pods. (#1462)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/README.md
  charts/newrelic-logging/templates/daemonset-windows.yaml
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/tests/host_network_test.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

fix scripting issues
  charts/super-agent/charts/super-agent-deployment/templates/_helpers.tpl
  charts/super-agent/charts/super-agent-deployment/templates/serviceaccount.yaml
  charts/super-agent/charts/super-agent-deployment/tests/auth_secret_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/configmap_fleet_configs_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/configmap_superagent_config_test.yaml
  charts/super-agent/charts/super-agent-deployment/tests/deployment_superagent_env_test.yaml
  charts/super-agent/ci/test-values.yaml
  charts/super-agent/values.yaml
Owners: @newrelic/coreint, @newrelic/caos

add support for API Key
  library/CHART-TEMPLATE/README.md
  library/CHART-TEMPLATE/templates/example-apikey-secret.yaml
  library/CHART-TEMPLATE/templates/example-cm-apikey.yaml
  library/CHART-TEMPLATE/tests/cl-apikey_helpers_test.yaml
  library/CHART-TEMPLATE/tests/cl-apikey_secret_test.yaml
  library/CHART-TEMPLATE/values.yaml
  library/common-library/DEVELOPERS.md
  library/common-library/templates/_apikey.tpl
  library/common-library/templates/_apikey_secret.yaml.tpl
Owners: @newrelic/k8s-agents

add the eBPF agent chart to the nri bundle
  .github/workflows/post-release-nri-bundle.yml
  .github/workflows/release.yml
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/values.yaml
Owners: @newrelic/k8s-agents

address comments
  library/CHART-TEMPLATE/tests/cl-region.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Update readme & gh workflows
  .github/ct-install.yaml
  .github/ct-lint.yaml
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/README.md.gotmpl
Owners: @newrelic/k8s-agents

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging 

# synthetics-minion
/charts/synthetics-minion/ @newrelic/proactive-monitoring

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/proactive-monitoring

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/caos
/charts/super-agent-deployment/ @newrelic/coreint @newrelic/caos
/charts/super-agent/ @newrelic/coreint @newrelic/caos
