Repository newrelic/helm-charts, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic/k8s-agents, @newrelic/ebpf, @newrelic/logging, @newrelic/pmon, @newrelic/ohai, @newrelic/ac, @newrelic/pcon

CODEOWNERS:

# Global owners
* @newrelic/k8s-agents

# Owners for charts go below this line using the following format:
# charts/<CHART_NAME>/* @<GITHUB_USER>

# Pixie chart
/charts/newrelic-pixie/ @newrelic/ebpf

# eBPF chart
/charts/nr-ebpf-agent/ @newrelic/ebpf

# Logging chart
/charts/newrelic-logging/ @newrelic/logging

# synthetics-minion
/charts/synthetics-minion/ @newrelic/pmon

# synthetics-job-manager
/charts/synthetics-job-manager/ @newrelic/pmon

# Infrastructure-related charts
/charts/nri-statsd/ @newrelic/ohai

# Agent Control charts
/charts/agent-control-deployment/ @newrelic/ac
/charts/agent-control/ @newrelic/ac

# pipeline-control-gateway
/charts/pipeline-control-gateway/ @newrelic/pcon

fs changes
  charts/newrelic-logging/templates/daemonset.yaml
  charts/newrelic-logging/templates/persistentvolume.yaml
  charts/newrelic-logging/values.yaml
Owners: @newrelic/logging

[agent-control] feat: ac-deployment-values in secret
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/_helm-release.yaml
  charts/agent-control/templates/ac-deployment-secret.yaml
Owners: @newrelic/ac

[agent-control] feat: enforce flux configuration
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/flux-validator.yaml
  charts/agent-control/tests/flux-validator_test.yaml
Owners: @newrelic/ac

rename helper
  charts/agent-control/templates/flux-validator.tpl
Owners: @newrelic/ac

[agent-control] feat: enforce flux configuration (#1701)
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/flux-validator.tpl
  charts/agent-control/tests/flux-validator_test.yaml
Owners: @newrelic/ac

[agent-control] feat: enforce flux configuration (#1701)
  charts/agent-control/Chart.yaml
  charts/agent-control/templates/flux-validator.tpl
  charts/agent-control/tests/flux-validator_test.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

add defaults for deployment/daemonset
  charts/nr-k8s-otel-collector/templates/_config_map.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

add custom config support
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/_collector-config.tpl
  charts/nr-k8s-otel-collector/templates/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/templates/daemonset.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/templates/deployment.yaml
  charts/nr-k8s-otel-collector/tests/config_map_test.yaml
  charts/nr-k8s-otel-collector/tests/env_vars_test.yaml
  charts/nr-k8s-otel-collector/values.yaml
Owners: @newrelic/k8s-agents

Bump fb version to 3.2.10 (#1700)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/tests/images_test.yaml
Owners: @newrelic/logging

Bump fb version to 3.2.10 (#1700)
  charts/newrelic-logging/Chart.yaml
  charts/newrelic-logging/tests/images_test.yaml
Owners: @newrelic/logging

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

updated ebpf related configs
  charts/nr-ebpf-agent/README.md
  charts/nr-ebpf-agent/README.md.gotmpl
  charts/nr-ebpf-agent/ci/test-values.yaml
  charts/nr-ebpf-agent/templates/_helpers.tpl
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
  charts/nr-ebpf-agent/templates/otel-collector-config.yaml
  charts/nr-ebpf-agent/templates/otel-collector-daemonset.yaml
  charts/nr-ebpf-agent/templates/secrets.yaml
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

Update Chart.yaml
  charts/synthetics-job-manager/charts/node-browser-runtime/Chart.yaml
Owners: @newrelic/pmon

Updated node browser runtime version
  charts/synthetics-job-manager/Chart.yaml
  charts/synthetics-job-manager/charts/node-browser-runtime/Chart.yaml
Owners: @newrelic/pmon

Add extra metric needed for LDM
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

fix issues
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Add extra metric needed for LDM (#1708)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Add extra metric needed for LDM (#1708)
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/templates/deployment-configmap.yaml
Owners: @newrelic/k8s-agents

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

Rendered examples instructions + updates."
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrole.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/daemonset.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment-configmap.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/clusterrolebinding.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/deployment.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/kube-state-metrics/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/secret.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/service.yaml
  charts/nr-k8s-otel-collector/examples/k8s/rendered/serviceaccount.yaml
  charts/nr-k8s-otel-collector/examples/k8s/values.yaml
Owners: @newrelic/k8s-agents

this
  .github/workflows/run-makefile.yaml
  Makefile
  charts/nr-k8s-otel-collector/Chart.yaml
  charts/nr-k8s-otel-collector/README.md
  charts/nr-k8s-otel-collector/templates/service.yaml
Owners: @newrelic/k8s-agents

version bump #2
  charts/nr-k8s-otel-collector/Chart.yaml
Owners: @newrelic/k8s-agents

Update charts/nr-k8s-otel-collector/templates/service.yaml
  charts/nr-k8s-otel-collector/templates/service.yaml
Owners: @newrelic/k8s-agents

update ebpf config field name
  charts/nr-ebpf-agent/README.md
  charts/nr-ebpf-agent/README.md.gotmpl
  charts/nr-ebpf-agent/ci/test-values.yaml
  charts/nr-ebpf-agent/templates/_helpers.tpl
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
  charts/nr-ebpf-agent/templates/otel-collector-config.yaml
  charts/nr-ebpf-agent/templates/otel-collector-daemonset.yaml
  charts/nr-ebpf-agent/templates/secrets.yaml
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

remove push period config
  charts/nr-ebpf-agent/README.md
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

rename metrics env name
  charts/nr-ebpf-agent/ci/test-values.yaml
  charts/nr-ebpf-agent/templates/_helpers.tpl
  charts/nr-ebpf-agent/values.yaml
Owners: @newrelic/ebpf

update ebpf agent env name
  charts/nr-ebpf-agent/templates/_helpers.tpl
  charts/nr-ebpf-agent/templates/nr-ebpf-agent-daemonset.yaml
Owners: @newrelic/ebpf

chore: bump ac version
  charts/agent-control-deployment/Chart.yaml
Owners: @newrelic/ac

[agent-control-deployment] chore: bump ac version (#1710)
  charts/agent-control-deployment/Chart.yaml
Owners: @newrelic/ac

[agent-control-deployment] chore: bump ac version (#1710)
  charts/agent-control-deployment/Chart.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

chore: bump ac-deployment chart
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
Owners: @newrelic/ac

[agent-control] chore: bump ac-deployment chart to 0.46.0 (#1711)
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
Owners: @newrelic/ac

[agent-control] chore: bump ac-deployment chart to 0.46.0 (#1711)
  charts/agent-control/Chart.lock
  charts/agent-control/Chart.yaml
Owners: @newrelic/ac

Update index.yaml
  index.yaml
Owners: @newrelic/k8s-agents

fix: remove (Preview) from k8s-agents-operator & other docs things
  charts/nri-bundle/README.md
  charts/nri-bundle/README.md.gotmpl
  charts/nri-bundle/values.yaml
Owners: @newrelic/k8s-agents

chore: update maintainers
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
Owners: @newrelic/k8s-agents

[nri-bundle] fix: remove (Preview) from k8s-agents-operator & other docs things (#1713)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/README.md.gotmpl
  charts/nri-bundle/values.yaml
Owners: @newrelic/k8s-agents

[nri-bundle] fix: remove (Preview) from k8s-agents-operator & other docs things (#1713)
  charts/nri-bundle/Chart.yaml
  charts/nri-bundle/README.md
  charts/nri-bundle/README.md.gotmpl
  charts/nri-bundle/values.yaml
Owners: @newrelic/k8s-agents
